coverage/
data/
dist/*.php
node_modules/
test/

.idea
.editorconfig
.eslintrc.json
.git*
.prettierrc*
.travis.yml

bower.json
composer.*
gulpfile.js
index.tpl.d.ts
package-lock.json
yarn.lock

phpunit.xml
