name: Countries CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/*.yml'
      - 'data/**'
      - '*.js'
      - '*.json'
      - '*.ts'
      - '!.editorconfig'
      - '!.travis.yml'
      - '!**LICENSE*'
      - '!**README*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14, 12, 10]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('./package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('./package-lock.json') }}

    - name: NPM install
      run: npm ci --prefer-offline --no-audit --no-optional --ignore-scripts
      env:
        CI: true

    - name: Build
      run: npm run build --if-present
    # Test is intentionally glued with `build` script
    # - run: npm test
      env:
        CI: true
