name: Countries PHP

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/phpunit.yml'
      - 'packages/countries/src/data/**'
      - 'packages/test-php/**'
      - '!.editorconfig'
      - '!**LICENSE*'
      - '!**README*'

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: php-actions/composer@v6

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          version: 9
          php_extensions: xdebug
          configuration: packages/test-php/phpunit.xml
          args: --coverage-text
        env:
          XDEBUG_MODE: coverage
